.home {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background: linear-gradient(
    181deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(74, 40, 0, 1) 100%
  );
  background-color: rgba(255, 255, 255, 1.0);
  height: 5382px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

/* added */
.polymorphism{
  background-color: rgba(red, green, blue, 0.13);
  /* filter: blur(30px); */
  backdrop-filter: blur(4px);
}
.polymorphism1{
  background-color: rgba(255, 255, 255, 0.13);
  /* filter: blur(30px); */
  backdrop-filter: blur(10px);
  box-shadow: 0 0 12px black;
}

/* added */
.home .overlap {
  height: 761px;
  left: 147px;
  position: absolute;
  top: 0;
  width: 1293px;
}

.home .overlap-group {
  height: 512px;
  left: 0;
  position: absolute;
  top: 203px;
  width: 598px;
}

.home .group {
  height: 512px;
  left: 0;
  position: absolute;
  top: 0;
  width: 527px;
}

.home .group-2 {
  height: 409px;
  left: 0;
  position: absolute;
  top: 0;
  width: 529px;
}

.home .group-3 {
  height: 282px;
  left: 0;
  position: absolute;
  top: 0;
  width: 484px;
}

.home .text-wrapper {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 77.6px;
  position: absolute;
  top: 48px;
  width: 480px;
}

.home .text-wrapper-2 {
  color: #e87d0e;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 31.0px;
  position: absolute;
  top: 0;
  width: 161px;
}

.home .lorem-ipsum-is {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 308px;
  width: 527px;
}

.home .overlap-group-wrapper {
  height: 53px;
  left: 0;
  position: absolute;
  top: 459px;
  width: 197px;
}

.home .div-wrapper {
  border-radius: 40px;
  height: 53px;
  position: relative;
  width: 195px;
}

.home .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.home .unity {
  height: 30px;
  left: 502px;
  object-fit: cover;
  position: absolute;
  top: 206px;
  width: 96px;
}

.home .overlap-2 {
  height: 761px;
  left: 542px;
  position: absolute;
  top: 0;
  width: 751px;
}

.home .joy-stick {
  height: 761px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 668px;
}

.home .group-4 {
  height: 41px;
  left: 14px;
  position: absolute;
  top: 44px;
  width: 674px;
}

.home .navbar-wrapper {
  height: 24px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 505px;
}

.home .navbar {
  align-items: flex-start;
  display: inline-flex;
  gap: 88px;
  position: relative;
}

.home .text-wrapper-4 {
  color: #ffffff;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-style: var(--base-font-style);
  font-weight: var(--base-font-weight);
  height: 24.2px;
  letter-spacing: var(--base-letter-spacing);
  line-height: var(--base-line-height);
  margin-top: -1.00px;
  position: relative;
  width: 50.6px;
}

.home .text-wrapper-5 {
  color: #ffffff;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-style: var(--base-font-style);
  font-weight: var(--base-font-weight);
  height: 24.2px;
  letter-spacing: var(--base-letter-spacing);
  line-height: var(--base-line-height);
  margin-top: -1.00px;
  position: relative;
  width: 74.85px;
}

.home .text-wrapper-6 {
  color: #ffffff;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-style: var(--base-font-style);
  font-weight: var(--base-font-weight);
  height: 24.2px;
  letter-spacing: var(--base-letter-spacing);
  line-height: var(--base-line-height);
  margin-top: -1.00px;
  position: relative;
  width: 70.63px;
}

.home .text-wrapper-7 {
  color: #ffffff;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-style: var(--base-font-style);
  font-weight: var(--base-font-weight);
  height: 24.2px;
  letter-spacing: var(--base-letter-spacing);
  line-height: var(--base-line-height);
  margin-top: -1.00px;
  position: relative;
  width: 45.33px;
}

.home .group-5 {
  height: 41px;
  left: 542px;
  position: absolute;
  top: 0;
  width: 134px;
}

.home .overlap-group-2 {
  background-color: #fa9021;
  border-radius: 6px;
  height: 41px;
  position: relative;
  width: 132px;
}

.home .text-wrapper-8 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 76px;
}

.home .unreal {
  height: 64px;
  left: 479px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 59px;
}

.home .cry {
  height: 99px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 202px;
  width: 101px;
}

.home .group-6 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 83px;
  width: 39px;
}

.home .rectangle {
  background-color: #dc7000;
  border-radius: 20px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

.home .rectangle-2 {
  background-color: #dc7000;
  border-radius: 20px;
  height: 4px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 5px;
}

.home .p {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 35px;
  font-weight: 600;
  left: 307px;
  letter-spacing: 0;
  line-height: 65.6px;
  position: absolute;
  text-align: center;
  top: 1479px;
  width: 826px;
}

.home .overlap-3 {
  height: 681px;
  left: 147px;
  position: absolute;
  top: 1679px;
  width: 1146px;
}

.home .group-7 {
  height: 173px;
  left: 0;
  position: absolute;
  top: 0;
  width: 549px;
}

.home .text-wrapper-9 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 56.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 209px;
}

.home .text-wrapper-10 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 72px;
  width: 545px;
}

.home .overlap-4 {
  height: 529px;
  left: 0;
  position: absolute;
  top: 152px;
  width: 1146px;
}

/* responsive navbar */
@media (min-width:854px) and (max-width:1000px) {
 .nav{
position: relative;
left: 70px;
 } 
}
@media (min-width:854px)  {
 .menu{
position: relative;
left: 70px;
display: none;

 } 
}
.check{
  border: 3px solid red;
}

.user-img1{
  border: 3px solid red;
  padding: 3px;
}
@media (min-width:0px) and (max-width:853px) {
 .nav{
position: relative;
left: 70px;
/* background-color: red; */
display: none;
opacity: 0;
 } 
 .user-img{
  display: none;
  
 }
 .menu{
  display: block;
 }
}

.user-img{
  border: 3px solid red;
  padding: 2px;
}
.home .group-8 {
  height: 154px;
  left: 825px;
  position: absolute;
  top: 0;
  width: 196px;
}

.home .img {
  height: 7px;
  left: 0;
  position: absolute;
  top: 0;
  width: 196px;
}

.home .group-9 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 196px;
}

.home .group-10 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 196px;
}

.home .group-11 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 63px;
  width: 196px;
}

.home .group-12 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 84px;
  width: 196px;
}

.home .group-13 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 105px;
  width: 196px;
}

.home .group-wrapper {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/group-20@2x.png);
  background-size: 100% 100%;
  height: 7px;
  left: 0;
  position: absolute;
  top: 126px;
  width: 196px;
}

.home .group-14 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 147px;
  width: 196px;
}

.home .rectangle-3 {
  height: 462px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 67px;
  width: 1146px;
}

.home .overlap-5 {
  height: 2865px;
  left: -30px;
  position: absolute;
  top: 2517px;
  width: 1567px;
}

.home .overlap-wrapper {
  height: 2865px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1567px;
}

.home .overlap-6 {
  height: 2865px;
  left: 30px;
  position: relative;
  width: 1440px;
}

.home .img-2 {
  height: 881px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home .rectangle-4 {
  -webkit-backdrop-filter: blur(2px) brightness(100%);
  backdrop-filter: blur(2px) brightness(100%);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ), linear-gradient(0deg, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0.54) 100%);
  height: 881px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home .group-15 {
  height: 696px;
  left: 198px;
  position: absolute;
  top: 93px;
  width: 1045px;
}

.home .group-16 {
  height: 197px;
  left: 109px;
  position: absolute;
  top: 0;
  width: 830px;
}

.home .text-wrapper-11 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 56.2px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 826px;
}

.home .lorem-ipsum-is-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 3px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 137px;
  width: 820px;
}

.home .group-17 {
  height: 400px;
  left: 0;
  position: absolute;
  top: 296px;
  width: 1045px;
}

.home .group-18 {
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1045px;
}

.home .group-19 {
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.home .group-20 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 95px;
  width: 222px;
}

.home .text-wrapper-12 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 220px;
}

.home .arrow {
  height: 21px;
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 54px;
  transform: rotate(-180deg);
  width: 21px;
}

.home .group-21 {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/group-7@2x.png);
  background-size: 100% 100%;
  height: 18px;
  position: relative;
  top: 1px;
}

.home .smartphone-wrapper {
  background-color: #ffffff;
  border-radius: 32.5px;
  height: 65px;
  left: 78px;
  position: absolute;
  top: 0;
  width: 65px;
}

.home .smartphone {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/group-1@2x.png);
  background-size: 100% 100%;
  height: 30px;
  left: 18px;
  position: relative;
  top: 18px;
  width: 30px;
}

.home .group-22 {
  height: 170px;
  left: 320px;
  position: absolute;
  top: 0;
  width: 192px;
}

.home .group-23 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 95px;
  width: 194px;
}

.home .text-wrapper-13 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 192px;
}

.home .arrow-2 {
  height: 21px;
  left: 86px;
  overflow: hidden;
  position: absolute;
  top: 54px;
  transform: rotate(-180deg);
  width: 21px;
}

.home .pc-wrapper {
  background-color: #ffffff;
  border-radius: 32.5px;
  height: 65px;
  left: 64px;
  position: absolute;
  top: 0;
  width: 65px;
}

.home .pc {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/016---pc-and-monitor@2x.png);
  background-size: 100% 100%;
  height: 32px;
  left: 17px;
  position: relative;
  top: 17px;
  width: 32px;
}

.home .group-24 {
  height: 170px;
  left: 612px;
  position: absolute;
  top: 0;
  width: 202px;
}

.home .group-25 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 95px;
  width: 204px;
}

.home .text-wrapper-14 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 202px;
}

.home .arrow-3 {
  height: 21px;
  left: 91px;
  overflow: hidden;
  position: absolute;
  top: 54px;
  transform: rotate(-180deg);
  width: 21px;
}

.home .ps-wrapper {
  background-color: #ffffff;
  border-radius: 32.5px;
  height: 65px;
  left: 69px;
  position: absolute;
  top: 0;
  width: 65px;
}

.home .ps {
  height: 40px;
  left: 13px;
  position: relative;
  top: 13px;
  width: 40px;
}

.home .overlap-group-3 {
  height: 12px;
  position: relative;
  top: 14px;
}

.home .group-26 {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/group-4@2x.png);
  background-size: 100% 100%;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.home .group-27 {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/group-5@2x.png);
  background-size: 100% 100%;
  height: 12px;
  left: 11px;
  position: absolute;
  top: 0;
  width: 15px;
}

.home .group-28 {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/group-6@2x.png);
  background-size: 100% 100%;
  height: 12px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 14px;
}

.home .group-29 {
  height: 169px;
  left: 914px;
  position: absolute;
  top: 0;
  width: 131px;
}

.home .group-30 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 95px;
  width: 133px;
}

.home .text-wrapper-15 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 131px;
}

.home .arrow-4 {
  height: 21px;
  left: 55px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transform: rotate(-180deg);
  width: 21px;
}

.home .vr-glasses-wrapper {
  background-color: #ffffff;
  border-radius: 32.5px;
  height: 65px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 65px;
}

.home .vr-glasses {
  height: 31px;
  left: 17px;
  position: relative;
  top: 18px;
  width: 31px;
}

.home .group-31 {
  height: 31px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 27px;
}

.home .group-32 {
  height: 168px;
  left: 359px;
  position: absolute;
  top: 232px;
  width: 327px;
}

.home .group-33 {
  height: 167px;
  left: 0;
  position: absolute;
  top: 0;
  width: 117px;
}

.home .group-34 {
  height: 72px;
  left: 0;
  position: absolute;
  top: 95px;
  width: 119px;
}

.home .text-wrapper-16 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 117px;
}

.home .arrow-5 {
  height: 21px;
  left: 47px;
  position: absolute;
  top: 51px;
  transform: rotate(-180deg);
  width: 21px;
}

.home .img-wrapper {
  height: 18px;
  position: relative;
  top: -1px;
}

.home .group-35 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
}

.home .desktop-wrapper {
  background-color: #ffffff;
  border-radius: 32.5px;
  height: 65px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 65px;
}

.home .desktop {
  height: 33px;
  left: 17px;
  overflow: hidden;
  position: relative;
  top: 17px;
  width: 33px;
}

.home .page {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/015---ar-object-desktop@2x.png);
  background-size: 100% 100%;
  height: 30px;
  position: relative;
  top: 2px;
}

.home .group-36 {
  height: 168px;
  left: 217px;
  position: absolute;
  top: 0;
  width: 110px;
}

.home .group-37 {
  height: 73px;
  left: 0;
  position: absolute;
  top: 95px;
  width: 112px;
}

.home .text-wrapper-17 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 110px;
}

.home .arrow-6 {
  height: 21px;
  left: 45px;
  position: absolute;
  top: 52px;
  transform: rotate(-180deg);
  width: 21px;
}

.home .element-cube-wrapper {
  background-color: #ffffff;
  border-radius: 32.5px;
  height: 65px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 65px;
}

.home .element-cube {
  height: 31px;
  left: 17px;
  position: relative;
  top: 15px;
  width: 31px;
}

.home .group-38 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 31px;
}

.home .rectangle-5 {
  background: linear-gradient(
    150deg,
    rgba(9, 3, 0, 1) 0%,
    rgba(9, 3, 0, 0) 100%
  );
  height: 1991px;
  left: 0;
  position: absolute;
  top: 874px;
  width: 1440px;
}

.home .group-39 {
  height: 57px;
  left: 680px;
  position: absolute;
  top: 1772px;
  width: 141px;
}

.home .overlap-7 {
  background-color: #ffffff1c;
  border-radius: 10px;
  height: 57px;
  position: relative;
  width: 139px;
}

.home .text-wrapper-18 {
  color: #ffffff;
  font-family: "Rubik", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 30px;
  letter-spacing: 0;
  line-height: 37.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.home .group-40 {
  height: 678px;
  left: 165px;
  position: absolute;
  top: 1022px;
  width: 1170px;
}

.home .group-41 {
  height: 128px;
  left: 336px;
  position: absolute;
  top: 0;
  width: 501px;
}

.home .text-wrapper-19 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 96px;
  letter-spacing: 0;
  line-height: 56.2px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 305px;
}

.home .text-wrapper-20 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 26.2px;
  position: absolute;
  text-align: center;
  top: 71px;
  width: 497px;
}

.home .rectangle-6 {
  height: 223px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 382px;
}

.home .rectangle-7 {
  height: 223px;
  left: 409px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 382px;
}

.home .rectangle-8 {
  height: 223px;
  left: 818px;
  object-fit: cover;
  position: absolute;
  top: 199px;
  width: 352px;
}

.home .rectangle-9 {
  height: 223px;
  left: 273px;
  object-fit: cover;
  position: absolute;
  top: 455px;
  width: 401px;
}

.home .rectangle-10 {
  height: 223px;
  left: 701px;
  object-fit: cover;
  position: absolute;
  top: 455px;
  width: 469px;
}

.home .rectangle-11 {
  height: 223px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 455px;
  width: 246px;
}

.home .footer {
  background-color: transparent;
  height: 376px;
  left: 29px;
  position: absolute;
  top: 2489px;
  width: 1442px;
}

.home .overlap-8 {
  height: 376px;
  position: relative;
  width: 1442px;
}

.home .rectangle-12 {
  background-color: #070707;
  height: 376px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home .group-42 {
  height: 268px;
  left: 0;
  position: absolute;
  top: 79px;
  width: 1442px;
}

.home .group-43 {
  height: 161px;
  left: 101px;
  position: absolute;
  top: 0;
  width: 1219px;
}

.home .group-44 {
  height: 161px;
}

.home .group-45 {
  height: 161px;
  position: relative;
  width: 1227px;
}

.home .text-wrapper-21 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
  width: 372px;
}

.home .overlap-9 {
  height: 161px;
  left: 450px;
  position: absolute;
  top: 0;
  width: 508px;
}

.home .overlap-group-4 {
  height: 161px;
  left: 0;
  position: absolute;
  top: 0;
  width: 508px;
}

.home .zeux-portfolio {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 29.8px;
  position: absolute;
  top: 41px;
  width: 372px;
}

.home .group-46 {
  height: 161px;
  left: 220px;
  position: absolute;
  top: 0;
  width: 288px;
}

.home .text-wrapper-22 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
  width: 282px;
}

.home .text-wrapper-23 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 133px;
  width: 141px;
}

.home .text-wrapper-24 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 17px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.home .text-wrapper-25 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 129px;
  width: 196px;
}

.home .group-47 {
  height: 34px;
  left: 1035px;
  position: absolute;
  top: 117px;
  width: 184px;
}

.home .facebook-wrapper {
  background-color: #ffffff;
  border-radius: 17px;
  box-shadow: 0px 4px 14px #00000026;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.home .facebook {
  height: 12px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 12px;
}

.home .instagram-wrapper {
  background-color: #ffffff;
  border-radius: 17px;
  box-shadow: 0px 4px 14px #00000026;
  height: 34px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 34px;
}

.home .instagram {
  height: 13px;
  left: 11px;
  position: absolute;
  top: 10px;
  width: 13px;
}

.home .twitter-wrapper {
  background-color: #ffffff;
  border-radius: 17px;
  box-shadow: 0px 4px 14px #00000026;
  height: 34px;
  left: 100px;
  position: absolute;
  top: 0;
  width: 34px;
}

.home .twitter {
  height: 13px;
  left: 10px;
  overflow: hidden;
  position: relative;
  top: 11px;
  width: 13px;
}

.home .group-48 {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/group-25@2x.png);
  background-size: 100% 100%;
  height: 11px;
  position: relative;
  top: 1px;
}

.home .linkedin-wrapper {
  background-color: #ffffff;
  border-radius: 17px;
  box-shadow: 0px 4px 14px #00000026;
  height: 34px;
  left: 150px;
  position: absolute;
  top: 0;
  width: 34px;
}

.home .linkedin {
  height: 11px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 11px;
}

.home .line {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 213px;
  width: 1439px;
}

.home .text-wrapper-26 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 588px;
  letter-spacing: 0;
  line-height: 24.8px;
  position: absolute;
  top: 243px;
  white-space: nowrap;
}

.home .text-wrapper-27 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 800;
  left: 101px;
  letter-spacing: 0;
  line-height: 36.8px;
  position: absolute;
  top: 73px;
  white-space: nowrap;
}

.home .group-49 {
  height: 392px;
  left: 165px;
  position: absolute;
  top: 1934px;
  width: 1170px;
}

.home .group-50 {
  height: 129px;
  left: 0;
  position: absolute;
  top: 0;
  width: 549px;
}

.home .group-51 {
  background-color: #1b140e;
  border-radius: 15px;
  height: 189px;
  left: 0;
  position: absolute;
  top: 203px;
  width: 1170px;
}

.home .group-52 {
  height: 107px;
  left: 56px;
  position: absolute;
  top: 40px;
  width: 640px;
}

.home .text-wrapper-28 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 303px;
}

.home .subscribe-to-receive {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 55px;
  width: 636px;
}

.home .group-53 {
  height: 48px;
  left: 734px;
  position: absolute;
  top: 71px;
  width: 390px;
}

.home .overlap-group-5 {
  background-color: #ffffff;
  border-radius: 8px;
  height: 48px;
  position: relative;
  width: 386px;
}

.home .overlap-10 {
  background-color: #dc7000;
  border-radius: 8px;
  height: 37px;
  left: 274px;
  position: absolute;
  top: 6px;
  width: 105px;
}

.home .text-wrapper-29 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 69px;
}

.home .text-wrapper-30 {
  color: #898989;
  font-family: "Poppins", Helvetica;
  font-size: 13px;
  font-weight: 300;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 155px;
}

.home .text-wrapper-31 {
  color: #ffffff;
  font-family: "Rubik", Helvetica;
  font-size: 31px;
  font-weight: 700;
  left: 147px;
  letter-spacing: 0;
  line-height: 58.1px;
  position: absolute;
  top: 892px;
  white-space: nowrap;
}

.home .group-54 {
  height: 57px;
  left: 1154px;
  position: absolute;
  top: 893px;
  width: 141px;
}

.home .rectangle-13 {
  height: 277px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 1008px;
  width: 251px;
}

.home .rectangle-14 {
  height: 277px;
  left: 445px;
  object-fit: cover;
  position: absolute;
  top: 1008px;
  width: 252px;
}

.home .rectangle-15 {
  height: 277px;
  left: 743px;
  object-fit: cover;
  position: absolute;
  top: 1008px;
  width: 252px;
}

.home .rectangle-16 {
  height: 277px;
  left: 1042px;
  object-fit: cover;
  position: absolute;
  top: 1008px;
  width: 251px;
}

.home .group-55 {
  height: 41px;
  left: 187px;
  position: absolute;
  top: 1310px;
  width: 172px;
}

.home .text-wrapper-32 {
  color: #ffffff;
  font-family: "Rubik", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 34px;
  letter-spacing: 0;
  line-height: 41.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home .fire {
  height: 25px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 25px;
}

.home .group-56 {
  background-image: url(https://c.animaapp.com/4PJtouFp/img/group-24@2x.png);
  background-size: 100% 100%;
  height: 25px;
  left: 3px;
  position: relative;
  width: 19px;
}

.home .group-57 {
  height: 41px;
  left: 486px;
  position: absolute;
  top: 1310px;
  width: 172px;
}

.home .group-58 {
  height: 41px;
  left: 784px;
  position: absolute;
  top: 1310px;
  width: 172px;
}

.home .group-59 {
  height: 41px;
  left: 1090px;
  position: absolute;
  top: 1310px;
  width: 172px;
}

.home .pre {
  height: 462px;
  left: 4259px;
  object-fit: cover;
  position: absolute;
  top: 1881px;
  width: 822px;
}

.home .text-wrapper-33 {
  color: #00000033;
  font-family: "Poppins", Helvetica;
  font-size: 29px;
  font-weight: 800;
  left: 55px;
  letter-spacing: 0;
  line-height: 44.5px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}
